.user-auction-wrapper .title{
    color: var(--clr-text);
    font-size: var(--fs-extra-extra-large);
    padding: 1rem;
}

.ongoing-wrapper {
    display: grid;
    /* Use Grid layout */
    grid-template-columns: repeat(4, 1fr);
    /* 2 columns */
    gap: 16px;
    /* Spacing between items */
    color: var(--clr-text);
}

.ongoing-wrapper .ongoing-auctions {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    /* border: 5px solid var(--clr-neutral-dark); */
    background-color: var(--clr-neutral-dark);
    margin: 2rem 4rem;
    gap: 1rem;
    padding: 2rem;
}

.ongoing-wrapper .ongoing-auctions img {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
}

.ongoing-wrapper .ongoing-auctions .nft-title {
    font-size: var(--fs-extra-large);
    text-align: center;
    align-self: center;
}

.ongoing-wrapper .ongoing-options {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.ongoing-wrapper .ongoing-options button {
    padding: 1rem 5.6rem;
    color: white;
    border: none;
    font-size: var(--fs-med);
    border-radius: 0.75rem;
    font-weight: var(--fw-800);
    transition: opacity 0.2s ease;
    background-color: var(--clr-blue);
}

/* .ongoing-wrapper .ongoing-options button:nth-child(1){
    background-color: var(--clr-green);
}


.ongoing-wrapper .ongoing-options button:nth-child(2){
    background-color: var(--clr-blue);
} */

.ongoing-wrapper .ongoing-options button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ongoing-wrapper .ongoing-auctions .ongoing-data {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* place-self: start; */
    /* margin-left: 1rem; */
    justify-content: start;
    /* align-items: flex-start; */
    gap: 1rem;
    /* color: var(--clr-neutral-hove); */
}

.ongoing-wrapper .ongoing-auctions .ongoing-data .nft-title {
    color: var(--clr-blue);
    font-weight: var(--fw-800);
}

.ongoing-wrapper .ongoing-auctions .ongoing-data .nft-seller {
    font-size: var(--fs-small);
}

.ongoing-wrapper .ongoing-auctions .nft-highest {
    align-self: center;
    font-size: 2.2rem;
}

.ongoing-wrapper .ongoing-auctions .nft-highest span {
    color: var(--clr-green);
}

.ongoing-wrapper .ongoing-data .nft-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ongoing-wrapper .ongoing-data .nft-data-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ongoing-wrapper .ongoing-data .nft-data-top .nft-num-bids{
    background-color: var(--clr-orange);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-800);
    color: var(--clr-text);
}

.ongoing-auctions .ongoing-data .desc{
    text-align: center;
}

.ongoing-auctions .ongoing-data .date{
    color: var(--clr-red);
    text-align: center;
}