@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/assets/Roboto/Roboto-Regular.ttf");
}


*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-roboto);
}

img {
  width: 100%;
}

:root {
  --clr-background: #111111;
  --clr-neutral-dark: #252525;
  --clr-neutral-hover: #373737;
  --clr-text: #F2F2F2;
  --clr-blue : #5783db;
  --clr-green : #5dbea3;
  --clr-red : #ED0800;
  --clr-orange : #F97407;

  --fw-400: 400;
  --fw-600: 600;
  --fw-800: 800;
  --fw-200: 200;

  --fs-small: 12px;
  --fs-med: 14px;
  --fs-large: 16px;
  --fs-extra-large: 30px;
  --fs-extra-extra-large : 45px;

  --ff-roboto: "Roboto-Regular";
}


body {
  background-color: var(--clr-background);
}